[Unit]
Description=MPRIS RGB HomeAssistant Integration
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/.local/share/mpris-rgb-homeassistant/mpris_rgb_homeassistant.sh
WorkingDirectory=%h/.local/share/mpris-rgb-homeassistant
Restart=on-failure
RestartSec=5
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
